@import "tailwindcss";

:root {
  /* 항상 흰색 배경으로 고정 */
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nanum), ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nanum), ui-sans-serif, system-ui, sans-serif;
}